@import url('root.css');
@import url('reset.css');
@import url('media.css');





.conteiner {
	max-width: 1440px;
	margin: 0 auto;
	padding: 10px 30px;
}
.button {
	padding: 12px;
	background: var(--basic-color);
	border-radius: 10px;
	border: 1px solid var(--basic-color);
	cursor: pointer;
	color: var( --text-color);
	font-size: 16px;
}
.title {
	color: #151515;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.section {
	margin-top: 100px;
}

/******* HEADER ******************/
.header {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.header__top {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap:0 20px ;
}
.header__top-phone {
    color: #151515;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal; 	
}
.header__top-work {
	color: #707070;
	font-size: 14px;
	
}

.header__conteiner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__block-text {
	font-size: 18px;
	color: #151515;

}
.header__button {
	padding: 12px;
	background: var(--basic-color);
	border-radius: 10px;
	border: 1px solid var(--basic-color);
	cursor: pointer;
	color: var( --text-color);
	font-size: 16px;
}

/******* NAV ******************/
.nav {
	display: flex;
	gap:30px;
}
.nav__link {
	color: #151515;
	font-size: 16px;
}
.nav__link:hover {
	cursor: pointer;
	color: #FF4100;
}
/********* HERO ***************/
.hero__conteiner {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-items: center;
	gap:50px;
	/*display: flex;
	justify-content: space-between;
	align-items: center;
	gap:20px;*/

}
.about__master {

}
.hero__master-img {
	min-height: 150px;
	max-width: 610px;
}
.hero__button {
	padding: 15px 20px;
}
.hero__content {
	display: flex;
	flex-direction: column;
	gap:20px;
}
.hero__title {
	color: #151515;
	font-size: 48px;
	font-weight: 400;
	
}
.hero__master {
	position: relative;
	max-width: 100%;
	min-height: 100%;
}
.hero__master-img {
	max-width: 100%;
	height: 100%;
	

}
.hero__curg {
	padding: 20px;
}
.hero__img {
 width: 650px;
 height: 100%;
 object-fit: cover;
}
.hero__master::after {
	position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #FF4100;
    z-index: -1;
}
/********** ABOUT **********/
.about__conteiner {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap:40px;

}
.about_name {
	color: var(--basic-color);
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 24px;
}
.about__text {
	color: #151515;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.about__analition {
	max-width: 370px;
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap:30px 0;
	
}
.about__analition-title {
	 font-size: 30px;
	 color: #FF4100;
	font-weight: bold;
}
.about__analition-item {
	display: flex;
	flex-direction: column;
	gap:8px;
}
.about__master {
   max-width: 100%;
   min-height: 100%;
}
.about__master-img {
	border-radius: 10px;
	max-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.inform {
	text-align: center;

}
.inform__text {
	font-weight: normal;
}
.inform__accent {
	color: var(--basic-color);


}

.serves__wrapper {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:20px;

}
.serves__cart {
	display: flex;
	flex-direction: column;
	gap:20px;
	padding: 10px;
	border-radius: 10px;
    background: #fff;
    transition: background-color .3s ease;

}
.serves__cart h3 {
	text-align: center;
	color: #BF5430;
	 transition: color .3s ease;
}
.serves__price {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap:12px;
	cursor: pointer;

}
.serves__cart:hover  {
	 transition: background-color .7s ease;
	 background: var(--basic-color);
}
.serves__cart:hover > h3   {
	color: #fff;
	transition: color .3s ease;
}
.serves__cart:hover > h3 + .serves__price {
	color: #fff;
	transition: color .3s ease;
}
.serves__cart:hover > h3 + .serves__price + .serves__cena {
	color: #fff;
	transition: color .3s ease;
}
.serves__cart:hover > h3 + .serves__price li::marker {
	color: #fff;
	transition: color .3s ease;
}
.serves__price li {
       list-style-type: disc  !important;
}
.serves__price li::marker {
	color: #BF5430;
	transition: color .3s ease;
}
.serves__cena {
	text-align: center;
	color: #FF4100;
	font-size: 30px;
	font-weight: bold;
	transition: -color .3s ease;

}

.work__wrapper {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:20px;
}
.work__cart {
	border-radius: 10px;
	position: relative;
	height: 320px;
	overflow: hidden;
	transition: 1s;
	cursor: pointer;

}
.work__cart--none {
	display: none;

}
.work__cart--active {
	display: block;
}
.work__cart-img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.work__cart:hover > .work__cart-img + .work__cart-block {
	width: 100%;
	transition: all .7s ease;
	opacity: 1;
}
.work__cart:hover > .work__cart-img {
	border-radius: 10px;
    filter: grayscale(0.4) blur(5px);
    transition: 1s;
}
.work__cart-block {
	width: 80%;
	transition: all .7s ease;
	position: absolute;
	padding: 20px;
	background: var(--basic-color);
	color: #fff;
	bottom:  0;
	left: 0;
	opacity: 0;

}
.serves__more {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}



.revirews__wrapper {
	margin-top: 50px;
    overflow: hidden;
   /* display: grid;
    grid-template-columns: repeat(3,1fr);*/
}
.revirews__conteiner--wrapper{
	position: relative;
	padding: 0 60px;
	z-index: 40;
}
.reviews__cart {
	display: flex;
	flex-direction: column;
	gap:10px;
	padding: 20px;
	border-radius: 20px;
	width: 100%;
}
.reviews__cart:nth-child(odd){
   color: #fff;
   background:var(--basic-color);
}
.revirews__block_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reviews__content {
	padding: 10px 0;
}
.revirews__img {
	border-radius: 50%;
	width: 75px;
	height: 75px;
	object-fit: cover;
}
.revirews__name {
	font-weight: 600;
}

.revirews__serves {
	padding-top: 10px;
	font-weight: 600;
}
.revirews__serves_name {
	font-weight: 500;
}
.rewiews__btn {
	 background: var(--basic-color);
	 width: 35px !important;
	 height: 35px !important;
	 border-radius: 50%;
	 color: #fff !important;
	 font-size: 12px;
	 margin: -10px;
}
.rewiews__pagination {
		margin-bottom: -60px;
}
.rewiews__btn::after {
	 font-size: 12px !important;	 
}
.rewiews__pagination .swiper-pagination-bullet{
	background: var( --reviews-pagination-bg);
	font-size: 20px;  
}








.section__title--question {
	 margin-top: 80px;
}

.accordion {


	margin: 0 15px;
	padding: 15px;
	border-radius: 8px;
	box-shadow:  0 0 4px var(--question-shadow);
	
}
.accordion__item {
	border-radius: 4px;
	transition: background-color .2s ease-in;
	overflow: hidden;
	
}

.accordion__trigger {
	padding: 0 15px;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 12px;
	transition: background-color .2s ease-in;  
}
.accordion__trigger--opend {
	color:#fff;
	background-color:var(--basic-color);
	transition: background-color .2s ease-in; 
}

.accordion__trigger .bx-plus {
	font-size: 20px;
	color:#333;
	font-weight: 600;

}

.accordion__content {
	height: 0;
	padding: 5px 15px;
	transition:  height 0.2s linear;
}

.accordion__text  {
	padding: 5px 0;
	font-size: 16px;
	font-weight: 400;
	color: var(--question-answer-color);
}
.accordion__title {
	font-size: clamp(16px, 0.902rem + 0.49vw, 20px);
	font-weight: 500;
	
}
.zapis__wrapper {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap:20px;
}
.zapis__conteiner {
	margin-top: 50px;
}
.zapis__master-img {
	max-width: 100%;
	min-height: 100%;
	object-fit: cover;
}
.zapis__form-input {
	padding: 15px 20px;
	width: 100%;
	border-bottom: 1px solid var(--basic-color);
	outline: none;
	color: #707070;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.zapis__block {
	max-width: 100%;
}

.zapis__form-config {
    color: #151515;
	leading-trim: both;
	text-edge: cap;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.zapis__text {
	color: #151515;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.zapis__form-title {
	color: #707070;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.zapis__content {
	padding: 20px;
}
.zapis__form {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap:40px;
}

.contact__conteiner {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
     text-align: center;
     gap:40px;
}
.contact__items {
	display: flex;
	flex-direction: column;
	gap:20px;
	font-size: 26px;
}

/***** modal ***************/
.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 60;
	background-color:  rgba(205, 214, 219, 0.3);
	transform: scale(0);
	visibility: hidden;
	transition:  all 0.2s linear;


}
.modal--open {
    opacity: 1;
	transition:  all 0.2s linear;
	visibility: visible;
	transform: scale(1);
	
}

.modal__form_authorization{
	transition:  all 0.2s linear;
}
.modal__form_authorization--active {
	position: absolute;
	top: 0;
	right: 0;
	transform:  translateX(500px);
	transition:  all 0.2s linear;
}

.modal__form_registration{
	position: relative;
	transition:  all 0.2s linear;
	transform:  translateX(0);
}
.modal__form_registration--active{
	position: absolute;
	top: 0;
	right: 0;
	transform:  translateX(500px);
	transition:  all 0.2s linear;
}

.modal__conteiner {
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 360px;
	background: #fff;
	padding: 20px  10px; 
	transform: translate(-50%,-50%);  
	overflow:hidden;
	z-index: 1000;
	padding: 20px;
}
.modal__conteiner .bx {
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
	cursor: pointer;
}
.modal__title {
	text-align: center;
	padding: 12px 0;
	color: var(--basic-color);


}
.form__conteiner{
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap:20px;
}
.form__item {
	display: flex;
	flex-direction: column;

}
.form__item_input {
	outline: none;
	padding: 16px;
	border: 1px solid var(--basic-color);
	width: 100%;
	border-radius: 10px;
}

.form__item{
	position: relative;
}

.form__label {
	position: absolute;
	top: 30%;
	transform: translateY(-10%);
	left: 10px;
	color: #707070;
	pointer-events: none;
	transition: 0.2s ease;
}
.form__item_input:is(:focus, :valid) ~ .form__label {
   transform: translateY(-120%);
   color: var(--basic-color);
   font-size: 18px;
   font-weight: 600;
   
}
.form__item_input:focus {
     border-bottom: 1px solid var(--basic-color);
}


.form__item_erorr {

	font-size: clamp(12px, 0.652rem + 0.49vw, 16px);
	color: var(--modal-form-item-error-color);
}

.form__item_btn {
	padding: 10px 20px;
	background-color: var(--basic-color);
	border: 1px solid var(--basic-color);
	color: #fff;
	border-radius: 8px;
	transition: background-color .2s ease-in; 
	cursor: pointer;
	font-size: clamp(12px, 0.652rem + 0.49vw, 16px) ;
}
.form__item_btn:hover{
	transition: background-color .3s ease-in; 
	background-color: var( --header-btn-bg-hover);
	color: var(--modal-form-item-btn-color-hover);	
	border: 1px solid #000;
}
.authorization__btn,.registration__btn {
	display: block;
	margin-top: 10px;
	font-size: clamp(12px, 0.652rem + 0.49vw, 16px);
	text-align: center;
}

.footer {
	background: var(--basic-color);
	padding: 20px;
}
.footer__conteiner {
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.footer__item a {
	color: #fff;
	
}
